@import "styles";

.main-header {
    width: 100%;
    background-color: $brand-green;
    @include content-margin;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-header__nav,
    .main-header__secondary-nav {
        li {
            display: inline-block;
        }
    }
}
