@import "styles";

.main-header,
.secondary-header {
    width: 100%;
    @include content-margin;
}

.main-header {
    background-color: $brand-green;

    .header-container-primary,
    .header-container-secondary {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-container-primary {
        background-color: $brand-green;
        padding-top: 2.5em;
        padding-bottom: 1.8em;

        .main-header__logo {
            max-width: 230px;
        }

        .main-header__nav {
            font-family: "Raleway";
            letter-spacing: 0.2px;
            margin-top: 0.5em;

            ul > li {
                padding: 1em;
                font-size: 1em;
                position: relative;

                a {
                    color: $text-light;
                    text-decoration: none;
                }

                &.active {
                    font-weight: 600;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 60%;
                        background-color: $background-blue;
                        margin: 0.5em auto;
                        bottom: 0;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .search {
                color: $text-light;
            }
        }
    }
}

.main-header__nav,
.main-header__secondary-nav {
    li {
        display: inline-block;
    }
}

.secondary-header {
    background-color: $brand-green-dark;

    .header-container-secondary {
        background-color: $brand-green-dark;

        .main-header__secondary-nav {
            font-family: 'Open Sans';
            line-height: 2;

            ul > li {
                padding: 1em 0;
                font-size: 1.25em;
                position: relative;
                font-weight: 300;
                padding-left: 0;
                margin-right: 2em;

                a {
                    color: $text-light;
                    text-decoration: none;
                }

                &.active {

                    &::after {
                        content: "";
                        display: block;
                        height: 4px;
                        width: 100%;
                        background-color: $background-blue;
                        margin: 0.5em auto;
                        margin-bottom: 0;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
