<header class="main-header">
    <div class="header-container">

        <div class="main-header__logo">
            <img src="../../assets/logo.png" alt="company logo">
        </div>

        <div class="main-header__nav">
            <ul>
                <li *ngFor="let item of nav">
                    {{ item }}
                </li>
                <img src="../../assets/search.svg" alt="" style="width: 18px">
            </ul>

        </div>

    </div>
    <div class="main-header__secondary-nav">
        <ul>
            <li *ngFor="let item of secondaryNav">
                {{ item }}
            </li>
        </ul>
    </div>
</header>