.card {
    height: 100%;
    width: 300px;
    padding: 1.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
    background-color: $background-white;
    box-shadow: 15px 15px 40px -20px #8fc7d544;
    position: relative;

    &:last-child {
        margin-right: 0;
    }
}