// Main Colours
$brand-green: rgb(7, 64, 80);
$brand-green-dark: rgb(4, 59, 74);
$brand-green-cta: rgb(32, 164, 194);


// Text
$text-dark: rgb(51, 51, 51);
$text-light: rgb(255, 255, 255);
$text-green-dark: rgb(7, 64, 80);
$text-link: $brand-green-cta;

//Background
$background-white: rgb(255, 255, 255);
$background-grey: rgb(242, 245, 246);
$background-blue: rgb(162, 200, 217);

//Buttons
$button-cta-background: $brand-green-cta;
$button-arrow-background: $background-grey;
$button-arrow-color: $brand-green-cta;