// Main Colours
$brand-green: rgb(7, 64, 80);
$brand-green-dark: rgb(4, 59, 74);
$brand-green-cta: rgb(32, 164, 194);
$light-grey: rgb(203, 215, 218);
$dark-grey: rgb(54, 87, 96);

// Text
$text-dark: rgb(51, 51, 51);
$text-light: rgb(255, 255, 255);
$text-green-dark: rgb(7, 64, 80);
$text-link: $brand-green-cta;
$text-grey: rgb(163, 184, 191);
$text-dark-grey: #666;

//Background
$background-white: rgb(255, 255, 255);
$background-grey: rgb(242, 245, 246);
$background-blue: rgb(162, 200, 217);
$background-grey-blue: rgb(234, 247, 250);

//Buttons
$button-cta-background: $brand-green-cta;
$button-arrow-background: $background-grey;
$button-arrow-color: $brand-green-cta;