// Main Spacing
$content-padding-left: 14vw;
$content-padding-right: 14vw;

@mixin content-padding {
    padding-left: $content-padding-left;
    padding-right: $content-padding-right;
}

.margin {
    max-width: 1600px;
    margin: 0 auto;
    @include content-padding;
}