<div class="footer-wrapper">
    <div class="footer-cards">
        <div class="footer-cards__card footer-cards__site-map">
            <h5 class="footer-cards__title">Company Name</h5>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">What's On</a></li>
                <li><a href="#">Industry Insights</a></li>
                <li><a href="#">Business Development</a></li>
            </ul>
        </div>
        <div class="footer-cards__card footer-cards__social-link">
            <h5 class="footer-cards__title">Follow us</h5>
            <a class="social-link"
               href="#"
               target="_blank"><i class="icon icofont-facebook"></i></a>
            <a class="social-link"
               href="#"
               target="_blank"><i class="icon icofont-linkedin"></i></a>
            <a class="social-link"
               href="#"
               target="_blank"><i class="icon icofont-youtube-play"></i></a>
        </div>
        <div class="footer-cards__card footer-cards__newsletter-cta">
            <span>
                <i class="icon icofont-paper-plane"></i>
                <h5 class="footer-cards__title">Sign up for COVID-19 alerts</h5>
            </span>
            <a class="btn-link" href="#">
                <button class="btn solid">Sign up</button>
            </a>
        </div>
    </div>
    <div class="meta-links">
        <a href="#"
           class="meta-links__link">Terms of use</a>
        <a href="#"
           class="meta-links__link">Cookie Policy</a>
        <a href="#"
           class="meta-links__link">Contact Us</a>
        <a href="#"
           class="meta-links__link">Privacy Policy</a>
    </div>
</div>