@import "styles";

.main-header,
.secondary-header {
}

.main-header {
    background-color: $brand-green;

    .header-container-primary,
    .header-container-secondary {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-container-primary {
        background-color: $brand-green;
        padding-top: 2.5em;
        padding-bottom: 1.8em;

        .main-header__logo {
            width: 100%;
            max-width: 230px;
        }

        .main-header__nav {
            font-family: "Open Sans";
            letter-spacing: 0.2px;
            margin-top: 0.5em;

            &.mobile {
                display: none;
            }

            &.is-open {
                display: block;
                position: absolute;
                top: 100px;
                left: 0;
                right: 0;
                font-size: 1.8em;
                background-color: $brand-green;
                z-index: 9998;

                @include respond-to("sm") {
                    font-size: 2.2em;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 1em;
                    margin-bottom: 2em;

                    li {
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;

                        &.active::after {
                            width: 80%;
                            height: 8px;
                            margin-bottom: 0.2em;
                        }
                    }
                }
            }

            ul > li {
                padding: 1em;
                font-size: 1em;
                position: relative;

                a {
                    color: $text-light;
                    text-decoration: none;
                }

                &.active {
                    font-weight: 600;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 60%;
                        background-color: $background-blue;
                        margin: 0.5em auto;
                        bottom: 0;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .icon {
                color: $text-light;
            }
            .menu {
                font-size: 2em;
                cursor: pointer;
            }
        }
    }

    .main-header__nav-btn {
        position: relative;
        z-index: 9999;
        margin-left: 1em;

        .icon {
            color: $text-light;
            font-size: 2em;

            @include respond-to("sm") {
                font-size: 3em;
            }
        }
    }
}

.main-header__nav,
.main-header__secondary-nav {
    li {
        display: inline-block;
    }
}

.secondary-header {
    background-color: $brand-green-dark;

    .header-container-secondary {
        background-color: $brand-green-dark;

        .main-header__secondary-nav {
            font-family: "Open Sans";
            line-height: 2;

            ul {
                @include respond-to("md") {
                    display: flex;
                    flex-direction: column;
                }

                li {
                    padding: 1em 0;
                    font-size: 1.25em;
                    position: relative;
                    font-weight: 300;
                    padding-left: 0;
                    margin-right: 2em;

                    @include respond-to("md") {
                        line-height: 1;
                        margin-right: 0;
                        padding-bottom: 0.5em;
                    }

                    a {
                        color: $text-light;
                        text-decoration: none;
                    }

                    &.active {
                        &::after {
                            content: "";
                            display: block;
                            height: 4px;
                            width: 100%;
                            background-color: $background-blue;
                            margin: 0.5em auto;
                            margin-bottom: 0;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
