@import "styles";

@mixin stripes {
    // IE doesn't like SVGs so I had to use a png
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Ctitle%3E stripe%3C/title%3E%3Cpath d='M-1 1l2-2M0 4l4-4M3 5l2-2' stroke='black'/%3E%3C/svg%3E");
    background-image: url('../../../assets/stripe_2.png');
    background-size: .5em;
    opacity: 0.6;
}

.contents-card {
    padding-bottom: 2.5em;
    margin-left: 0;

    @include respond-to('lg') {
        width: 100%;
    }

    .contents-card__top {
        position: relative;
        padding-bottom: 0.25em;
        margin-bottom: 1em;

        hr {
            width: 25%;
            border-top: 2px solid $light-grey;
            position: absolute;
        }

        .contents-card__title {
            font-family: "Open Sans";
            font-size: 1.4em;
            color: $brand-green-dark;
            font-weight: 700;
            padding-bottom: 0.25em;
        }
    }

    .contents-card__content {
        ul {
            list-style: none;
            text-indent: -1em;
            padding-left: 1em;

            @include respond-to('lg') {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            li {
                font-family: "Open Sans";
                padding-top: 0.25em;
                padding-bottom: 0.25em;

                @include respond-to('lg') {
                    margin-right: 2em;
                }

                &::before {
                    content: "\ea5d";
                    font-family: IcoFont !important;
                    color: $text-link;
                    font-size: 1.2em;
                    display: inline-block;
                    width: 0.7em;
                }
                a {
                    text-decoration: none;
                    color: $text-dark;
                }

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    a {
                        color: $brand-green;
                        font-weight: 700;
                    }
                    &::before {
                        color: $brand-green !important;
                    }
                }
                &.strong {
                    font-size: 1.2em;
                    line-height: 1.1;
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        @include stripes();
        left: -30px;
        height: 100%;
        width: 50%;
        border-radius: 20px;
        z-index: -1;
    }
}
