<div id="app-container">
    <div class="main-wrapper">
        <header>
            <app-header></app-header>
        </header>

        <main id="main-container">
            <section class="breadcrumb-container">
                <div class="breadcrumb">
                    <span class="back-title"><i class="arrow-left icofont-arrow-left"></i>All 'Business Support &
                        Advice'</span>
                    <span class="current-title">Finance</span>
                </div>
            </section>
            <section class="main-bg">
                <app-body-text></app-body-text>
            </section>
        </main>


    </div>
</div>