<div id="app-container">
    <div class="main-wrapper">
        <header>
            <app-header></app-header>
        </header>

        <main id="main-container">

            <section class="breadcrumb-container">
                <div class="breadcrumb">
                    <span class="back-title"><i class="arrow-left icofont-arrow-left"></i>All 'Business Support &
                        Advice'</span>
                    <span class="current-title">Finance</span>
                </div>
            </section>
            <section class="main-bg">
                <div class="main-content-container">
                    <div class="section-split-wrapper">
                        <div class="section-left">
                            <app-content-card></app-content-card>
                        </div>
                        <div class="section-right">
                            <app-body-text></app-body-text>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main-bg-bottom">

            </section>
        </main>


    </div>
</div>