@import "styles";

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-wrapper {
        width: 100vw;
        padding: 0 8vw;
    }
}

#main-container {

    .main-bg {
        background-image: url(../assets/bg-top.svg), url(../assets/bg-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top, bottom;

        .main-content-container {
            position: relative;
            z-index: 0;
            @include content-margin;

            .section-split-wrapper {
                display: flex;
                padding-top: 4em;

                .section-left {
                    margin-right: 3em;
                    height: fit-content;
                }
                .section-right {
                    margin-left: 3em;
                }
            }
        }
    }

    .breadcrumb-container {
        width: 100%;
        background-color: $background-grey;
        @include content-margin;

        .breadcrumb {
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: 1.1em;

            .back-title {
                color: $text-link;
                font-weight: 600;
                margin-right: 6vw;
            }
            .current-title {

            }
        }
    }
}
