<div id="app-container">
    <div class="main-wrapper">
        <header>
            <app-header></app-header>
        </header>

        <main id="main-container">

            <section class="breadcrumb">
                <div class="margin breadcrumb-container">
                    <a href="#"><span class="back-title"><i class="arrow-left icofont-arrow-left"></i>All 'Business
                            Support & Advice'</span></a>
                    <span class="current-title">Finance</span>
                </div>
            </section>

            <section class="main-bg">
                <div class="margin main-content-container">
                    <div class="section-split-wrapper">
                        <aside class="section-left">
                            <app-content-card></app-content-card>
                        </aside>
                        <div class="section-right">
                            <app-body-text></app-body-text>
                        </div>
                    </div>
                </div>
            </section>

            <section class="recommended">
                <div class="margin recommended-container">
                    <h2 class="recommended-container__title">Recommended</h2>
                    <ul class="recommended-container__post-cards">
                        <li *ngFor="let post of postCards">
                            <app-post-card [post]="post"></app-post-card>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <footer class="margin footer-container">
            <app-footer></app-footer>
        </footer>

    </div>
</div>