@import "styles";

#main-container {
    .main-bg {
        background-color: $background-white;
        background-image: url(../assets/bg-top.png), url(../assets/bg-bottom.png);
        // background-image: url(../assets/bg-top.svg), url(../assets/bg-bottom.svg); // IE wouldn't respect SVG positions
        background-repeat: no-repeat, no-repeat;
        background-position: top, bottom;
        background-size: 100% auto;

        @include respond-to('md') {
            background-size: 150vw 100vh;
        }

        .main-content-container {
            position: relative;
            z-index: 0;
            padding-bottom: 4em;

            .section-split-wrapper {
                display: flex;
                padding-top: 4em;

                @include respond-to('lg') {
                    flex-direction: column;
                }

                .section-left {
                    margin-right: 3em;
                    height: 100%; // IE fallback
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;

                    @include respond-to('lg') {
                        margin-right: 0;
                        margin-bottom: 3em;
                    }
                }
            }
        }
    }

    .breadcrumb,
    .recommended {
        background-color: $background-grey;
    }

    .breadcrumb {
        .breadcrumb-container {
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: 1.1em;

            @include respond-to("sm") {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em;
            }

            a {
                text-decoration: none;
            }

            .arrow-left {
                margin-right: 0.5em;
            }

            .back-title {
                color: $text-link;
                font-weight: 600;
                margin-right: 6vw;
            }
        }
    }

    .recommended-container {
        padding-top: 4em;
        padding-bottom: 4em;

        .recommended-container__title {
            font-family: "Roboto Slab";
            font-size: 2em;
            color: $brand-green-dark;
            margin-bottom: 1.5em;
            font-weight: 600;

            @include respond-to('md') {
                text-align: center;
            }
        }

        .recommended-container__post-cards {
            display: flex;
            justify-content: space-between;

            @include respond-to('lg') {
                flex-wrap: wrap;
                justify-content: center;
            }

            li {
                margin-right: 1em;
                margin-bottom: 1em;

                @include respond-to('lg') {
                    flex-grow: 1;
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
