#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;

    .main-content {
        width: 100vw;
        max-width: 1600px;
        padding: 0 8vw;
    }
}
