<section class="main-content">
    <h1 class="main-content__title">Cashflow Management</h1>
    <p class="main-content__top-p">As we move through this very difficult time, preserving cash and managing cashflow
        will be critical to your business survival, positioning yourselves for financial support
        applications, and ultimately to be stronger and more agile business going forward. </p>
    <p>The time to act is now, develop a cashflow strategy, build a plan and then apply for appropriate
        funding packages with these and other measures built in. This will be critical to the survival
        of businesses. </p>
    <p>There are steps that you can take now to plan effectively for this imposed downturn, including:</p>
    <ul class="main-content__bullet-list">
        <li>Prepare weekly cashflow projections that will show the impact of business downturn on your
            business </li>
        <li>Consider arranging payment plans with HM RC for VAT, PAYE, Corporation Tax, Income Tax etc;
        </li>
        <li>Focus on financial management— understand the difference in variable and fixed costs and
            consider what cost savings can be made across your business; </li>
        <li>Check your existing bank facilities and the financial covenants attached to these—talk to
            you bank manager at the earliest opportunity;</li>
        <li>Check your insurance policies to see what cover you have in place for loss of business;</li>
        <li>Consider any alternative revenue options that may be open to you —i.e.home deliveries?</li>
        <li>Understand the staffing issues that will arise;</li>
        <li>Consider supply chain impact and discuss payment plans with creditors;</li>
        <li>Focus on the recoverability of debtors, if relevant</li>
    </ul>
    <p class="main-content__bold-p">
        Decisions on the correct actions to take will vary for different organisations and their
        particular circumstances. This guidance advice should not be taken as a replacement for your own
        legal or commercial advice, or to replace any advice or direction issued by the Government.
    </p>
</section>

<section class="page-stepper-container">
    <app-page-stepper class="page-stepper left" alignTo="left"
                      stepperTitle="Finance - Introduction"></app-page-stepper>
    <app-page-stepper class="page-stepper right" alignTo="right"
                      stepperTitle="Business Rates"></app-page-stepper>
</section>