@import "styles";

@mixin stripes {
    // background-color: #375861;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Ctitle%3Estripe%3C/title%3E%3Cpath d='M47.69,35.13l40-40h-20l-20,20m40,20v-20l-20,20' transform='translate(-47.69 4.88)'/%3E%3C/svg%3E");
    background-size: .5em;
    opacity: 0.6;
}

.contents-card {
    height: 100%;
    width: 300px;
    padding: 1.5em;
    padding-bottom: 2.5em;
    border-radius: 20px;
    background-color: $background-white;
    box-shadow: 15px 15px 40px -20px #8fc7d544;
    position: relative;

    .contents-card__top {
        position: relative;
        padding-bottom: 0.25em;
        margin-bottom: 1em;

        hr {
            width: 25%;
            border-top: 2px solid $light-grey;
            position: absolute;
        }

        .contents-card__title {
            font-family: "Open Sans";
            font-size: 1.4em;
            color: $brand-green-dark;
            font-weight: 700;
            padding-bottom: 0.25em;
        }
    }

    .contents-card__content {
        ul {
            list-style: none;
            text-indent: -1em;
            padding-left: 1em;

            li {
                font-family: "Open Sans";
                padding-top: 0.25em;
                padding-bottom: 0.25em;

                &::before {
                    content: "\ea5d";
                    font-family: IcoFont !important;
                    color: $text-link;
                    font-size: 1.2em;
                    display: inline-block;
                    width: 0.7em;
                }
                a {
                    text-decoration: none;
                    color: $text-dark;
                }

                &.active {
                    a {
                        color: $brand-green;
                        font-weight: 700;
                    }
                    &::before {
                        color: $brand-green !important;
                    }
                }
                &.strong {
                    font-size: 1.2em;
                    line-height: 1.1;
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        @include stripes();
        left: -30px;
        height: 100%;
        width: 50%;
        border-radius: 20px;
        z-index: -1;
    }
}
